# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/builds

# misc
.DS_Store

# lint - linting comes from the global repository
.eslintrc
.eslintignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#reports
*.html

#vscode
.vscode*

#tests
/tests

#images
/public/

#tests
*.test.js

# env files
.env.client

# jest
/jest
.jest.config.js