REACT_APP_MIX_APP_DOMAIN=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/APP_DOMAIN

REACT_APP_MIX_REACT_APP_PAYMENT_SITE_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_PAYMENT_SITE_HREF
REACT_APP_MIX_REACT_APP_BINDER_SITE_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_BINDER_SITE_HREF

REACT_APP_MIX_REACT_APP_TELADOC_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_TELADOC_HREF

REACT_APP_MIX_REACT_APP_DAVIS_VISION_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_DAVIS_VISION_HREF
REACT_APP_MIX_REACT_APP_DENTAQUEST_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_DENTAQUEST_HREF
REACT_APP_MIX_REACT_APP_CVS_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_CVS_HREF
REACT_APP_MIX_REACT_APP_SILVER_SNEAKERS_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_SILVER_SNEAKERS_HREF
REACT_APP_MIX_REACT_APP_HEALTH_EQUITY_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_HEALTH_EQUITY_HREF
REACT_APP_MIX_REACT_APP_NATIONS_HEARING_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_NATIONS_HEARING_HREF

REACT_APP_MIX_REACT_APP_FOOTER_WEB_PRIVACY=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_FOOTER_WEB_PRIVACY
REACT_APP_MIX_REACT_APP_FOOTER_NY_PRIVACY=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_FOOTER_NY_PRIVACY
REACT_APP_MIX_REACT_APP_FOOTER_HIPAA=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_FOOTER_HIPAA

REACT_APP_MIX_REACT_PAYMENTS_BASE_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_PAYMENTS_BASE_URL
REACT_APP_MIX_REACT_BINDER_BASE_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_BINDER_BASE_URL

REACT_APP_MIX_REACT_LOFL_LANGUAGE_EN_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/LOFL_LANGUAGE_EN_URL
REACT_APP_MIX_REACT_LOFL_LANGUAGE_ES_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/LOFL_LANGUAGE_ES_URL
REACT_APP_MIX_REACT_LOFL_LANGUAGE_ZH_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/LOFL_LANGUAGE_ZH_URL

REACT_APP_MIX_REACT_APP_PROVIDER_API_KEY=[cyberark]App_JenkinsCI_{{ dap_safe_env }}/AppDev_LAMP_{{ dap_safe_env }}/LOFL_PROVIDER_API_KEY_{{ dap_env }}/LOFL_PROVIDER_API_KEY_{{ dap_env }}

REACT_APP_MIX_REACT_APP_PROVIDER_BASE_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_PROVIDER_BASE_URL

REACT_APP_MIX_REACT_OKTA_API_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/OKTA_API_URL

REACT_APP_MIX_SPLITIO_KEY=[cyberark]App_JenkinsCI_{{ dap_safe_env }}/AppDev_LAMP_{{ dap_safe_env }}/LOFL_SPLITIO_KEY_{{ dap_env }}/LOFL_SPLITIO_KEY_{{ dap_env }}

REACT_APP_MIX_REACT_APP_OTC_NETWORK_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_OTC_NETWORK_HREF
REACT_APP_MIX_REACT_APP_NATIONS_OTC_HREF=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_APP_NATIONS_OTC_HREF

REACT_APP_MIX_PRIVACY_STMTS=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_PRIVACY_STMTS
REACT_APP_MIX_TERMS_CONDITIONS=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_TERMS_CONDITIONS
REACT_APP_MIX_REACT_OKTA_HEALTHX_SAML_LINK=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_OKTA_HEALTHX_SAML_LINK

REACT_APP_MIX_CHAT_WIDGET_BASE_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/CHAT_WIDGET_BASE_URL
REACT_APP_MIX_REACT_CONTACT_INFO_LINK=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_CONTACT_INFO_LINK

REACT_APP_MIX_REACT_SESSION_LIFETIME_SECONDS=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_SESSION_LIFETIME_SECONDS
REACT_APP_MIX_REACT_SESSION_WARNING_COUNTDOWN_SECONDS=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_SESSION_WARNING_COUNTDOWN_SECONDS

REACT_APP_MIX_REACT_QUALTRICS_ZONE_ID=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_QUALTRICS_ZONE_ID

REACT_APP_MIX_REACT_COST_CALCULATOR_BASE_URL=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_COST_CALCULATOR_BASE_URL

REACT_APP_MIX_REACT_APP_OTC_NETWORK_HREF_V2=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/OTC_NETWORK_HREF_V2
REACT_APP_MIX_REACT_APP_NATIONS_OTC_HREF_V2=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/NATIONS_OTC_HREF_V2
REACT_APP_MIX_REACT_REG_CONTACT_LINK=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_REG_CONTACT_LINK
REACT_APP_MIX_REACT_REG_LEARN_MORE=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_REG_LEARN_MORE

REACT_APP_MIX_REACT_OKTA_CLIENT_ID_SPA=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_OKTA_CLIENT_ID_SPA
REACT_APP_MIX_REACT_OKTA_ISSUER_SPA=[consul]LAMP/{{ consul_env }}/LOFL/{{ consul_ver }}/MIX_REACT_OKTA_ISSUER_SPA
