MIX_APP_DOMAIN=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_APP_DOMAIN
MIX_REACT_APP_PAYMENT_SITE_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_PAYMENT_SITE_HREF
MIX_REACT_APP_BINDER_SITE_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_BINDER_SITE_HREF
MIX_REACT_APP_TELADOC_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_TELADOC_HREF
MIX_REACT_APP_DAVIS_VISION_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_DAVIS_VISION_HREF
MIX_REACT_APP_DENTAQUEST_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_DENTAQUEST_HREF
MIX_REACT_APP_CVS_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_CVS_HREF
MIX_REACT_APP_SILVER_SNEAKERS_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_SILVER_SNEAKERS_HREF
MIX_REACT_APP_HEALTH_EQUITY_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_HEALTH_EQUITY_HREF
MIX_REACT_APP_NATIONS_HEARING_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_NATIONS_HEARING_HREF
MIX_REACT_APP_FOOTER_WEB_PRIVACY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_FOOTER_WEB_PRIVACY
MIX_REACT_APP_FOOTER_NY_PRIVACY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_FOOTER_NY_PRIVACY
MIX_REACT_APP_FOOTER_HIPAA=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_FOOTER_HIPAA
MIX_REACT_PAYMENTS_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_PAYMENTS_BASE_URL
MIX_REACT_BINDER_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_BINDER_BASE_URL
MIX_REACT_LOFL_LANGUAGE_EN_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_LANGUAGE_EN_URL
MIX_REACT_LOFL_LANGUAGE_ES_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_LANGUAGE_ES_URL
MIX_REACT_LOFL_LANGUAGE_ZH_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_LANGUAGE_ZH_URL
MIX_REACT_APP_PROVIDER_API_KEY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_PROVIDER_API_KEY
MIX_REACT_APP_PROVIDER_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_PROVIDER_BASE_URL
MIX_REACT_OKTA_API_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/OKTA_API_URL
MIX_SPLITIO_KEY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_SPLITIO_KEY
MIX_REACT_APP_OTC_NETWORK_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_OTC_NETWORK_HREF
MIX_REACT_APP_NATIONS_OTC_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_NATIONS_OTC_HREF
MIX_PRIVACY_STMTS=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_PRIVACY_STMTS
MIX_TERMS_CONDITIONS=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_TERMS_CONDITIONS
MIX_REACT_OKTA_HEALTHX_SAML_LINK=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_OKTA_HEALTHX_SAML_LINK
MIX_CHAT_WIDGET_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/CHAT_WIDGET_BASE_URL
MIX_REACT_CONTACT_INFO_LINK=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_CONTACT_INFO_LINK
MIX_REACT_SESSION_LIFETIME_SECONDS=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_SESSION_LIFETIME_SECONDS
MIX_REACT_SESSION_WARNING_COUNTDOWN_SECONDS=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_SESSION_WARNING_COUNTDOWN_SECONDS
MIX_REACT_QUALTRICS_ZONE_ID=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_QUALTRICS_ZONE_ID
MIX_REACT_COST_CALCULATOR_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_COST_CALCULATOR_BASE_URL
MIX_REACT_APP_OTC_NETWORK_HREF_V2=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/OTC_NETWORK_HREF_V2
MIX_REACT_APP_NATIONS_OTC_HREF_V2=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/NATIONS_OTC_HREF_V2
MIX_REACT_REG_CONTACT_LINK=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_REG_CONTACT_LINK
MIX_REACT_REG_LEARN_MORE=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_REG_LEARN_MORE
MIX_REACT_OKTA_CLIENT_ID_SPA=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_OKTA_CLIENT_ID_SPA
MIX_REACT_OKTA_ISSUER_SPA=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_OKTA_ISSUER_SPA
MIX_LOFL_API_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_LOFL_API_BASE_URL
MIX_REACT_APP_MPSR_LOGIN_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_MPSR_LOGIN_URL
MIX_REACT_SEND_CODE_DELAY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_SEND_CODE_DELAY
MIX_REACT_APP_CAPTCHA_SITEKEY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_CAPTCHA_SITEKEY
MIX_REACT_APP_CAPTCHA_V2_SITEKEY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_CAPTCHA_V2_SITEKEY
MIX_REACT_APP_CAPTCHA_ENABLED=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/CAPTCHA_ENABLED
MIX_REACT_TRAILBLAZER_WIDGET_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_TRAILBLAZER_WIDGET_BASE_URL
MIX_REACT_BINDER_SITE_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_BINDER_SITE_HREF
MIX_REACT_PAYMENT_SITE_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_PAYMENT_SITE_HREF
MIX_REACT_APP_FOOTER_TERMS_AND_CONDITIONS=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_FOOTER_TERMS_AND_CONDITIONS
MIX_APP_DOMAIN_PORT=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_APP_DOMAIN_PORT
MIX_REACT_APP_LOFL_SEGMENT_KEY=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/LOFL_SEGMENT
MIX_REACT_EYE_MED_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_EYE_MED_BASE_URL
MIX_REACT_SURVEY_WIDGET_BASE_URL=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_SURVEY_WIDGET_BASE_URL
MIX_REACT_APP_CONVEY_HREF=[consul]React/{{ consul_env }}/Customer-Center-Frontend/v1.0.0/MIX_REACT_APP_CONVEY_HREF
