@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (min-width: 880px) {
    /** Setup custom collapse point for main navbar **/
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
	}

	.sidenav {
		display: none;
	}
	
	#navbar {
		/* padding-left: 70px; */
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.23);
	}

    .d-custom-flex {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }

    .d-custom-none {
        display: none!important;
    }

    .d-custom-block {
        display: block!important;
    }
}

@media only screen and (max-width: 879px) {
    .navbar-light .navbar-toggler { border-color:white; }
	.navbar-toggler .navbar-toggler-icon { background-image: url(/img/hamburger_dark.svg); }
	.navbar-toggler .navbar-toggler-icon.light-icon { background-image: url(/img/hamburger_light.svg);}
    .navbar-light .navbar-nav .nav-link { color:white; display: -webkit-inline-box;}
}


@media only screen and (max-width: 768px) {

	.wrapper { padding: 0 0px; max-width: 1024px; position: relative; margin: auto; }
	.content-wrapper { width: 100%; max-width: 1024px; padding-left: 15px; padding-right: 15px;}
	#header-part { width: 100%; left: 0px; position: fixed; top: 0px; z-index: 102; max-height: 26%}
	/* dynamic header */
	/* .mobile-settings-header {background:#fff url(/img/settingsBackground1.jpg) right top no-repeat; background-position: center; background-size: 420px 275px; height: auto;} */
	#wrapper { width: 100%; position: relative;  }
	.hide-or-show-links { display:inline-block; }
	.hide-or-show-dropdown { display:none; }
	.dropdown { display:none; }
	.ml-auto-custom { margin-left: 0!important; }
	.title1 { padding:40px 10px 0 10px;}
	.title2 { padding:0 16px 10px 16px;}
	.title3 { padding:0 16px 10px 16px;}
	.forgot-password-form { padding:0 20px 160px 20px; }
	#existing-member-btn { padding: 4px 0px; width:150px; border-radius:6px 0px 0px 6px; font-size:14px;}
	#new-member-btn { padding: 4px 0px; width:150px; border-radius:0px 6px 6px 0px; font-size:14px;}
	#existing-member { padding:20px 20px 160px 20px; }
	.custom-notify img { display:none; }
	.text-switch { text-align:center; justify-content: center; }
	.reg-conf-body { width:100%; padding: 0px 16px 32px 16px; }
	.verify-conf-title { padding: 0px 16px 12px 16px; }
	.verify-conf-body { padding:0px 16px 20px 16px; width:auto;}
	#createAccountForm { padding:20px 20px 60px 20px; }

	.settings-nav a {float: left;}
	/* .settings-nav button {float: right;} */
	.settings-wrapper { padding: 28px 16px 12px 8px; width: auto;}
	.settings-header-part {height: auto;}
	#settings-breadcrumb-white {display: none;}
	ul.settings-breadcrumb-white li { font-size: 12px; }
	ul.settings-breadcrumb-white li+li:before {padding: 6px; }
	/* #settings-profile { height:auto; margin-top: 25px; } */
	/* #settings-profile {background: url(/img/settingsBackground1.jpg) right top no-repeat; background-position: center; background-size: 420px 275px; color: #fff; height: 100%; padding-top: 150px; margin-top: -148px; z-index: 101} */
	.settings-profile-wrapper { text-align:center; padding-bottom:18px;}
	#settings-profile-box { padding-bottom: 0px; padding-top: 163px}
	#settings-profile-name { height:auto; line-height:100%; width:100%; font-size: 18px; padding:10px 0; font-weight:700;}
	.settings-profile-box-wrapper { border-radius:0; box-shadow:none; text-align:center;}
	#settings-profile-box .line { height:auto; line-height:100%; width:100%; padding:8px 0;}
	#settings-profile-box .line-icon { width:auto; }
	#settings-profile-box .line-name { width:auto; padding:10px 0; font-size:14px;}
	#settings-profile-box .line-value { width:auto; display:block; font-weight:700;}
	#settings-profile-box .line-button { text-align:center; display:block; width:auto; padding:20px 0;}
	#settings-profile-box .line-button a { padding:10px 16px; }

	/* #home-container { padding-bottom: 300px; } */
	#searchMemberSSNForm { padding:20px 20px 160px 20px; }
	.search-body { width:100%; padding: 10px 16px; }
	#home-leftnav { width:100%; border:none; padding: 0; min-height:0;  display: none; }
	#home-leftnav.non-member {display: inline-block;}
	#home-leftnav .find-accounts { width:100%; margin: 50px 0px 30px 0px; border: none}
	#home-leftnav .find-accounts img { display:block; }
	#home-leftnav .find-accounts span { padding: 8px 0px 6px 0px; }
	#home-leftnav .find-accounts a { margin:12px 0; }
	#home-main { width:100%; }
	#home-main .mask { width:100%; margin-top:20px; height:170px;}
	.activate-plan { text-align:center; position: absolute; top: 18px; bottom: 0; width: 100%}
	#main-options {margin: 16px -4px 0 -4px; text-align:center; display:block; border-radius:6px;}
	#main-options.member-main-options {margin: 16px 12px 0 12px;}
	#main-options .binder { min-width: 100%; height: 187px}
	#main-options .activate-plan h2 { position:relative; transform:none; top:0; left:0; font-size:20px; padding-top:8px;}
	#main-options .activate-plan p { position:relative; transform:none; top:0; left:0; font-size:14px; padding:8px 8px 16px 8px; width:100%; height:90px;}
	#main-options .activate-plan a { position:relative; transform:none; top:0; left:0; font-size:16px; }
	#other-things { padding:20px 0 10px 0; }
	#other-things .other-things-headers { font-size:15px;}
	.other-things-list { padding: 10px 0px 0px 0px; }
	#other-things ul { columns: 1; -webkit-columns:1; -moz-columns:1;  }
	#other-options { margin: 16px 0 0 0; text-align:center; display:block; border-radius:6px; }
	#other-options .provider { min-width: 100%; height: 187px; border-radius: 0px}
	.find-provider { text-align:center; position: absolute; top: 18px; bottom: 0; width: 100%}
	#other-options .find-provider h2 { position:relative; transform:none; top:0; left:0; font-size:20px; padding-top:8px; }
	#other-options .find-provider p { position:relative; transform:none; top:0; left:0; font-size:14px; padding:8px 8px 16px 8px; width:100%; height:80px; text-align:center;}
	#other-options .find-provider a { position:relative; transform:none; top:0; left:0; font-size:16px; margin-left:0; width: 85%}

	.mobile-leftnav-burger {display: flex; text-align: center; padding-top: 30px; padding-bottom: 20px; border-bottom: 2px solid #008BBF;}
	.mobile-leftnav-burger img {max-width: 25px; margin-left: 10px; margin-right: 10px;}
	.mobile-leftnav-burger-account { font-size:12px; margin: 9px; border-radius: 50%; width: 32px; height: 32px; padding: 5px 9px 5px 9px; background: #fff; border: 1px solid #E3E3E3; color: black; text-align: center; }
	.mobile-leftnav-burger-plan {display: block; width: 280px; text-align: left;}
	.mobile-leftnav-burger-plan span {font-size: 18px; }
	.mobile-leftnav-burger-plan p {font-size: 20px; }


	#verifyChannelsModal .modal-dialog { margin:18% auto; width:100%; position:relative; padding:12px;}
	#verifyChannelsModal .modal-footer {display:block; }
	#verifyChannelsModal .modal-footer .btn {width:200px;}
	#verifyChannelsModal .modal-footer .verify-channels-yes {margin: 10px 0 0 -18px;}

	#sessionTimeoutModal .modal-dialog { width: 320px; max-width: 320px}
	#sessionTimeoutModal .modal-footer { display:block; padding:20px 0 20px 0; margin:0;}
	#sessionTimeoutModal .session-sign-out { float:none; display:block; margin:0 auto; margin-bottom: .5rem; width:270px;}
	#sessionTimeoutModal .session-sign-in { float:none; display:block; margin:0 auto; width:270px; margin-bottom:1rem;}

	#home-main .get-started-tiles { display:block; }
	#home-main .get-started-tiles ul { display:block; width:100%;}
	#home-main .get-started-tiles ul li { width:100%; padding:20px; }
	#home-main .get-started-tiles ul p { width:100%; height:auto;}
	#home-main .get-started-tiles ul a { padding:12px 0; width:100%; display:block;}
	#home-main .get-started-tiles .resources li { font-size:14px; color: #529535; font-weight:700; }

	#home-leftnav .my-accounts { margin: 30px 0px 20px 15px; padding:0;}
	#home-leftnav .plan-active { width:100%; }
	#home-leftnav .membership-tile { width:100%;}
	#main-options .make-first-payment { margin: 10px 0; width:100%; height:170px;}
	#main-options img { margin:6px auto; }
	#main-options span { line-height:100%; height:auto; padding: 0 10px 20px 10px; }
	#main-options .pay-bill { margin: 10px 0; width:100%; height:160px;}
	#main-options .member-portal { margin: 10px 0; width:100%; height:160px;}

	#home-main .other-things-title { margin:0; font-size:16px; font-weight:700; padding: 12px 0 18px 0; }
	#home-main .other-things { padding: 0px; }
	#home-main .other-things .tile { width: 100%; height: auto; padding: 10px 10px; margin: 0; text-align:left; border-top:1px solid #ddd;}
	#home-main .other-things .tile .center-img { margin: 0; display:inline-block; vertical-align:middle; padding: 0 12px 0 0;}
	#home-main .note { border:none; width:100%; padding:12px 10px; margin:0; text-align:center;}

	/* Non Member */
	/* #home-leftnav { display:inline-block; width:264px; border-right:1px solid #DEDEDE; padding:20px 0; vertical-align:top; min-height:800px;} */

	#get-started-tiles {display: inline-block; padding-top: 0px; padding-left: 0px;}
	#get-started-tiles span {	height: 32px;	width: 192px;	color: #474B55;	font-size: 18px; opacity: 0.75; line-height: 30px; font-weight: 600;}
	#get-started-tiles p { height: 75px;	width: 100%;	opacity: 0.75;	color: #474B55;	font-size: 15px;	line-height: 20px;}
	#get-started-tiles .tile1 {display: inline-block; width:100%; padding-bottom: 20px; padding-top: 20px; border-bottom: 1px solid #DEDEDE; }
	#get-started-tiles .tile2 {display: inline-block; width:100%; padding-bottom: 20px; padding-top: 20px; border-bottom: 1px solid #DEDEDE; }
	#get-started-tiles .tile3 {display: inline-block; width:100%; padding-bottom: 20px; padding-top: 20px; vertical-align: top;}
	#get-started-tiles .tile1, #get-started-tiles .tile2, #get-started-tiles .tile3 {padding-left: 15px; padding-right: 15px}
	#get-started-tiles .tile1 a { height: 19px;	width: 102px;	color: #529535;	font-size: 17px;	line-height: 19px; font-weight: 600;}
	#get-started-tiles .tile1 a { height: 19px;	width: 102px;	color: #529535;	font-size: 17px;	line-height: 19px; font-weight: 600;}
	#get-started-tiles .tile1 a { height: 19px;	width: 102px;	color: #529535;	font-size: 17px;	line-height: 19px; font-weight: 600;}

	#MFAVerifyCodeForm {padding-bottom: 112px}
	#verificationCode {width: 90%; margin-left: 5%; text-align: center;}
	#verifyChannelsModal {text-align: center;}

	#settings-profile-dob-nonmember {text-align: center;}

	.membership-card-values {width: 100%}
	.membership-card-mobile-separator {margin-top: 330px; display: block;}
	.important-notice {margin: 10px 0px 0px 0px}
	.important-notice img {text-align: center; width: 80px; height: 120px}

	.membership-card-values { margin-bottom: 10px}
	.search-result-block {margin: 0px}
	.membership-card-right {text-align: center; float: none;}
	.member-search-again-desktop {display: none;}
	.member-search-again-mobile {display: inline-block; padding: 15px; margin-top: 20px; box-shadow: -1px 1px 5px 0px #dedede; width: 100%;}
	.member-search-again-mobile span a {display: flex; justify-content: center;}
	.member-search-again-mobile span a p { font-size: 18px; color: #474B55; padding-left: 5px;}

	.memberIdTooltipImg {right: 0%; left: auto;}
	.login-form .shared-text { width: 190px; padding: 4px 0 0 0px;}
	.contactus-wrapper { padding: 0px 10px 160px 10px;}
	#contactus h1 { font-size:22px; padding:10px 0 10px 0; }
	#contactus h2 { padding:20px 0 20px 0;  }
	#contactus .box-top-c { width:auto; font-size:14px; height:48px; padding: 12px 0 0 12px;}
	#contactus .contactus-left { width:auto; }
	#contactus .box-btm { width:auto; height:auto; padding:12px 12px; font-size:14px;}

	.search-title-bold { padding: 10px 10px 0px 10px; font-size:22px;}
	#searchMemberIDForm .form-group { padding: 0 10px; }
	.ssn-search { text-align:center; }
	.search-flash-failure { width:auto; height:auto; padding:10px; margin:10px;}
	#changePasswordForm .form-group { margin: 0; }
	#changePasswordForm .separator { display:none; }
	#changePasswordForm span.error {  }
	#changePasswordForm .input-icon-right-fg2 { display:none; }
	#changePasswordForm .text-hint { padding-bottom:16px; }
	#changeEmailForm .btn { padding: 10px 20px; }
	#changePhoneForm .btn { padding: 10px 20px; }

	.reg-conf-title { padding: 0 10px 20px 10px; }
	.already-exists-title { padding:60px 0 20px 0; }
	.exists-body-1 { width:100%; }
	.exists-body-2 { width:100%; }
	.exists-body-3 { width:100%; padding: 20px 0 140px 0;}


	#footer-part-mobile .wrapper .footer-right p {padding-top: 10px}
	.custom-notify {width: auto;}

	#announcementsModal .modal-dialog { margin: 10% auto; width: 760px !important; max-width: 760px}
	.settings-navigation-expanded {background: #484c55;}

	.sticky + #wrapper {
	  padding-top: 35px;
	}
}


@media only screen and (width: 768px) {
	#home-container { padding-bottom: 0px; }
	.footer-left { float: none; text-align: center; }
	.footer-right { float: none; width: 720px; margin: auto; color:white; }
	#footer-part { position: unset; }
}


@media only screen and (max-width: 767px) {
	#verifyCodeForm { padding:0 20px 140px 20px; }
	.smsCode { padding: 0 16px; }
	#announcementsModal .modal-header h5 { font-weight:700; font-size: 27px; color: #003863; line-height: 52px;}
	#announcementsModal .modal-dialog { margin: 10% auto; width: 370px !important; max-width: 370px}
	#announcementsModal .modal-header {padding-left: 16px}
	#announcementsModal .modal-body { padding: 0px 16px 16px 16px;}
	#announcementsModal .tertiary-links {display: block;}
	
	/* .mobile-settings-header {background-size: 770px 275px;}
	#settings-profile {background-size: 770px 275px;} */

	/* #footer-part, #footer-part-mobile { z-index:10; position:relative;}
	#footer-links-login-desktop, #footer-part {display: none;}
	#footer-links-copyright-login {display: none}
	#footer-part-mobile {display: block;}

	#footer-part, #footer-part-mobile { z-index:10; }
	#footer-part .wrapper, #footer-part-mobile .wrapper { min-height: 0%; padding: 0px 15px}
	#footer-part p, #footer-part-mobile p { float: none; margin: 0 0px; padding:3px 0 10px; letter-spacing: 0; color: #A8ABAC}
	#footer-part p span, #footer-part-mobile p span{ display: none; }
	#footer-part, #footer-part-mobile { text-align: center; }
	#footer-part ul, #footer-part-mobile ul { display: block; float: none; margin: 0; padding: 10px 0 0; }
	#footer-part ul li, #footer-part-mobile ul li { border:none; width: 100%; padding: 10px 0; }
	#footer-part ul li a, #footer-part-mobile ul li a { color: white; }
	#footer-part ul li a:hover, #footer-part-mobile ul li a:hover { text-decoration:none;}

	.footer-left { float:none; text-align:left;}
	.footer-right { float:none; text-align:left; color:white;} */
	.settings-nav-card.active-card {border-left:0}
	#accountInformation>.section-header{ margin: 0; line-height: .6;}
}

@media only screen and (max-width: 666px) {

	.login-center { margin:auto; width:320px; }
	/* .settings-header-part {height: 6.5%} */

}

@media only screen and (max-width: 413px) {

	.login-center { margin:auto; width:320px; }
	/* .settings-header-part {height: 7%} */
}

/* @media only screen and (max-width: 390px) {

	.login-center { margin:auto; width:320px; }
	.settings-header-part {height: 9%}
} */

@media only screen and (max-width: 374px) {

	#login-wrapper { padding-top: 8px; }
	#header-login { height: 120px; position: relative; }
	.login-center { margin:auto; width:280px; }
	.g-recaptcha {transform:scale(0.9);-webkit-transform:scale(0.9);transform-origin:0 0;-webkit-transform-origin:0 0;}
	.text-hint { font-size:12px; }
	#mobile-form { padding-bottom:20px; }
	/* .settings-header-part {height: 8%} */
	.settings-profile-wrapper { text-align:center; padding-bottom: 14px;}


}

@media (max-width: 425px) {

	.subfooter-left-panel {
		text-align: center;
		padding-bottom: 10px;
	}

	.subfooter-right-panel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ios-badge-md {
		margin: 0 auto;
	}

}
