* { margin: 0px; padding: 0px; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { width: 100%; height:100%; font-size: 14px; color: #474B55; font-family: "museo-sans", sans-serif; font-style:normal; font-weight:100; /*background: #484c55;*/ }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

/* common */
a { text-decoration: none; outline: none; transition: all 0.3s; -webkit-transition: all 0.3s; }
a.cursor:hover { cursor:pointer;}
img { border: 0px; outline: none; display: block; max-width: 100%; }
ul { list-style: none; margin: 0px; }
.clear { clear: both; overflow: hidden; }
p { line-height: 22px; color: #000; font-size: 17px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #484c55; }
strong { font-weight: bold; }

label { font-size:15px; padding-bottom:6px; padding-top:8px;}

input, textarea { font-family: "museo-sans", sans-serif; transition: all 0.3s; -webkit-transition: all 0.3s; }
input:focus, textarea:focus { outline: none; }
button:focus {outline:0;}

.form-control::-webkit-input-placeholder { opacity: 0.2; color: black; }
.form-control::-moz-placeholder{ opacity: 0.2; color:black;}
.form-control::-ms-input-placeholder{ opacity: 0.2; color:black;}

input.form-control { height:48px; border:1px solid #AAA; border-radius:0px; -webkit-border-radius:0px; }
select.form-control { border: 1px solid #AAA; cursor: pointer; padding-left: 9px; -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; background:#fff url(../img/select.png) right center no-repeat; border-radius: 0; -webkit-border-radius: 0; font-size:15px;}

[href^="tel"] { cursor: default; text-decoration: none; color: #fff !important; }
[href^="tel"]:hover { text-decoration: none; }

@media print { .no-print { display:none !important; } .print-name { position: absolute !important; padding-top: 120px !important; margin-left: -5px !important; } }

.row {margin-right: auto; margin-left: auto;}

.btn-primary { padding: 13px 30px; line-height: 22px; font-weight: 700; font-size: 18px; border: 2px solid #539534; background:#539534; border-radius: 2px; -webkit-border-radius: 2px; }
.btn-primary:hover, .btn-primary:focus { background: #529534; color: #fff; border-color: #529534; }
.btn:active, .btn-primary:active { background: #529534; color: #fff; border-color: #529534; }

.btn-secondary { padding: 13px 15px; line-height: 22px; font-weight: 700; font-size: 18px; background: #539534; border: 2px solid #539534; border-radius: 0px; -webkit-border-radius: 0px; background: #fff; color: #539534; }
.btn-secondary:hover, .btn-secondary:focus { background: #529534; color: #fff; border-color: #529534; }

.btn-tertiary { padding: 13px 15px; line-height: 22px; font-weight: 700; font-size: 18px; background: #FFFFFF; border: 2px solid #FFFFFF; border-radius: 0px; -webkit-border-radius: 0px; background: #fff; color: #000000; }
.btn-tertiary:hover, .btn-tertiary:focus { background: #529534; color: #fff; border-color: #529534; }

.btn-hf-default { padding: 13px 36px; line-height: 22px; font-weight: 700; font-size: 18px; border: 2px solid #9B9B9B; background:#fff; color:#464C56; border-radius: 2px; -webkit-border-radius: 2px; }
/* .btn-hf-default:hover, .btn-hf-default:focus {  background-color: #9B9B9B; border-color: #9B9B9B; color:#fff;} */

.btn-danger { padding: 13px 30px; line-height: 22px; font-weight: 700; font-size: 18px; border: 2px solid #9B9B9B; background:#fff; color:#464C56; border-radius: 2px; -webkit-border-radius: 2px; }
.btn-danger:hover, .btn-danger:focus { background-color: #AD122A; border-color: #AD122A;}

.btn-caution { padding: 13px 30px; line-height: 22px; font-weight: 700; font-size: 18px;  background-color: #AD122A; border: 2px solid #AD122A; color:#fff; border-radius: 2px; -webkit-border-radius: 2px; }
.btn-caution:hover, .btn-caution:focus { background-color: #AD122A; border-color: #AD122A;}

.btn-announcement { padding: 10px 50px; line-height: 22px; font-weight: 700; font-size: 18px;  background-color: #008BBF; border: 2px solid #008BBF; color:#fff; border-radius: 5px; -webkit-border-radius: 5px; }
.btn-announcement:hover, .btn-announcement:focus { background-color: #696969; border-color: #696969;}

.btn-login { padding: 13px 120px; }

.important-notice {background-color: rgba(204, 234, 255, 0.55); padding: 13px; width: 100%; display: -ms-inline-flexbox; display: inline-flex; margin: 10px; border-radius: 5px}
.important-notice img {padding-right: 15px; width: 45px; height: 45px}
.important-notice span {font-size: 15px}


.green { color:#529534; }
.hf-red { color:#AD122A;}
span.error { color:#AD122A; display:block; padding:6px 0 0 0;}

/* wrapper */
#wrapper { padding-top: 85px; width: 100%; position: relative; background: #f4f4f4; }
#sf-wrapper { width: 100%; min-height: 100%; position: relative; background: #fff; padding-bottom:160px;}
.wrapper { max-width: 1024px; position: relative; margin: auto;}
.wrapper:after { content: ''; clear: both; display: block; width: 100%; height: 0; overflow: hidden; }

/* header */

#header-part { width: 100%; background: #484c55; position: fixed; left: 0px; top: 0px; z-index: 99;}

.navbar { }
.navbar-dark .navbar-nav .nav-link { color:white; font-size:16px;}
.navbar-light .navbar-nav .nav-link { color:white; font-size:16px;}
.navbar-brand {  width:160px; }
#navbar1 {flex-flow: row-reverse;}

/* .multi-lang-sec {color: #ffffff}
.multi-lang-sec a.lang-btn { font-weight:bold; color:#519535;}
.multi-lang-sec a:hover { opacity: 0.8; }
.multi-lang-sec {padding-top: 10px; padding-right: 25px} */

.hide-or-show-links { display:none; }
.hide-or-show-dropdown { display:inline-block; }
.dropdown { display:inline-flex; }
.dropdown-item { font-size:16px; }
.ml-auto-custom { margin-left: auto!important; }
.ml-70-percent {margin-left: 70%}
.inline-flex {display: inline-flex;}
.dropdown-80 {margin-left: 80%}


/* footer-part
#footer-part, #footer-part-mobile { padding: 22px 0 10px 0; width: 100%; border-top: 14px solid #82c341; background: #484c55; bottom:0; z-index:1000; position: fixed;}
#footer-part p, #footer-part-mobile p { color: #fff; font-size: 14px; line-height: 18px; letter-spacing: 0.03em; padding-bottom: 7px; }
#footer-part p span, #footer-part-mobile p span { float: right; }
#footer-part ul, #footer-part-mobile ul { list-style: none; overflow: hidden; padding: 0; margin: 0 0 0 -8px; }
#footer-part li, #footer-part-mobile li { padding: 0 8px; float:left; border-right: 1px solid #fff; }
#footer-part li:last-child, #footer-part-mobile li:last-child { border: none; }
#footer-part li a, #footer-part-mobile li a{ color: #fff; font-size: 14px; line-height: 14px; display: block; }
#footer-buffer { padding: 40px; }
.footer-left { float:left; color:white;}
.footer-right { float:right; color:white; text-align:right;} */

div#login-wrapper #footer-part { border: none; background: none; position: absolute; }

.burger { width: 35px; height: 5px; background-color: black; margin: 6px 0;}
.bars-bleach {color: #fff}

.title1 { display:block; font-size:24px; font-weight:500; text-align:center; padding-top:40px;}
.title2 { display:block; font-size:16px; font-weight:300; text-align:center; padding: 0 0 20px 0;}
.title3 { display:block; font-size:16px; font-weight:300; text-align:center; padding:0 0 30px 0;}

.registration-buttons { text-align:center; padding:24px 0;}
#new-member-btn { display:inline-block; padding:24px 0px; width:180px; background-color:#fff; border:1px solid #DEDEDE; font-size:16px; border-radius: 0px 50px 50px 0px}
#new-member-btn:hover { background-color:#fff;cursor:pointer;}
#new-member-btn.active { background-color:#F5FAEF; cursor:pointer; font-weight:bold; color:#529534; }

#existing-member { padding-bottom:120px; }
#existing-member-btn { display:inline-block; padding:24px 0px; width:180px; background-color:#fff; border:1px solid #DEDEDE; font-size:16px; border-radius: 50px 0px 0px 50px}
#existing-member-btn:hover { background-color:#fff; cursor:pointer;}
#existing-member-btn.active {  background-color:#F5FAEF; cursor:pointer; font-weight:bold; color:#529534; }

.email-or-mobile-btn { text-align:center; padding:12px 0 0 0;}
#email-btn { display:inline-block; padding:24px 0px; width:180px; background-color:#DEDEDE; border:1px solid #DEDEDE; font-size:16px;}
#mobile-btn { display:inline-block; padding:24px 0px; width:180px; background-color:#DEDEDE; border:1px solid #DEDEDE; font-size:16px}
#email-btn:hover { background-color:#fff; cursor:pointer;}
#mobile-btn:hover { background-color:#fff; cursor:pointer;}
#email-btn.active { background-color:#fff; cursor:pointer; font-weight:bold; color:#529534; }
#mobile-btn.active { background-color:#fff; cursor:pointer; font-weight:bold; color:#529534; }

#gender { height:48px; }

.form-agreement { padding-top:20px; }

.center-img {display: block; margin-left: auto; margin-right: auto; border-radius: 10px}
.center-content { text-align:center; justify-content:center;}
.already-have-account {  text-align:center; justify-content:center; padding-top:30px; color: #529535; }
.g-recaptcha {display:none;}
.grecaptcha-badge { bottom: 0px !important; z-index: 99999; }

.reg-conf-title { font-size:18px; color:#474B55; text-align:center; padding-bottom:20px; }
.reg-conf-title-bold { font-size:25px; color:#474B55; text-align:center; font-weight: bold; }
.reg-conf-body { font-size:16px; color:#474B55; text-align:center; padding-bottom:24px; width:680px; margin:0 auto;}

.verify-conf-title { font-size:24px; color:#474B55; text-align:center; padding-bottom:20px; }
.verify-conf-body { font-size:16px; color:#474B55; text-align:center; padding-bottom:30px; width:680px; margin:0 auto;}

.already-exists-title { font-size:24px; color:#474B55; text-align:center; padding:100px 0 20px 0; }
.already-exists-body { max-width:640px; margin:auto; }
.already-exists-body span { display:block; padding-bottom:20px;}
.already-exists-body cite { font-weight:700; color:#529534; font-style:normal;}
.exists-body-1 { width:210px; display:inline-block; vertical-align: top; text-align:center; padding:10px;}
.exists-body-2 { width:210px; display:inline-block; vertical-align: top; text-align:center; padding:10px;}
.exists-body-3 { width:210px; display:inline-block; vertical-align: top; text-align:center; padding:10px;}

.unverified-title { font-size:24px; color:#474B55; text-align:center; padding:100px 0 20px 0; }
.unverified-body { max-width:640px; margin:auto; text-align:center;}
.unverified-body span { display:block; font-size:15px; text-align:center; padding:0 0 20px 0;}

.no-mdm-member { max-width:640px; margin:auto; text-align:center; padding-top:100px;}

.text-hint { color:#474B55; opacity:0.7; }
.custom-notify { margin: auto; color: #1d643b; background-color: #DBF5FF; position: relative; padding: 20px; border: 1px solid #008BBF; border-radius: .25rem; width: 640px;}
.alert-icon-parent { display: flex; flex-direction: column; justify-content: center; }
.alert-icon { max-width: none; padding-right: 20px; }
#login-errors { margin-top: 40px; margin-bottom: -25px; }

/*  processing modal*/
#processingModal .modal-dialog { margin:20% auto; width:86px; max-width:86px; max-height: auto}
#processingModal .modal-content { border-radius: 15px; padding:16px; font-size:22px; justify-content:center;text-align:center;}
#processingModal .modal-header { }


/* custom checkmark */
.checkbox-container {display: block; position: relative; padding-left: 35px; cursor: pointer; font-size: 13px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-container input {opacity: 0; cursor: pointer; }
.checkmark {position: absolute; top: 0; left: 0; height: 24px; width: 24px; background-color: #fff; margin-top:5px; border: 1px solid #A8ABAC;;}
.checkbox-container:hover input ~ .checkmark {background-color: #ccc; }
.checkbox-container input:checked ~ .checkmark {background-color: #2196F3; }
.checkmark:after {content: ""; position: absolute; display: none; }
.checkbox-container input:checked ~ .checkmark:after {display: block; }
.checkbox-container .checkmark:after {left: 9px; top: 5px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

/* custom radio */
.radio-container {display: block; position: relative; padding: 0 0 24px 35px; cursor: pointer; font-size: 15px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radio-container input {position: absolute; opacity: 0; }
.radio-container cite { display:block; font-style:normal; font-size:13px;}
.radio-checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee; border-radius: 50%; }
.radio-container:hover input ~ .radio-checkmark {background-color: #ccc; }
.radio-container input:checked ~ .radio-checkmark {background-color: #003863; }
.radio-checkmark:after {content: ""; position: absolute; display: none; }
.radio-container input:checked ~ .radio-checkmark:after {display: block; top: 6px; left: 6px; width: 13px; height: 13px;}
.radio-container .radio-checkmark:after {top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 50%; background: white; }

/* verify phone */
.smsCode { font-size:28px; }
/*.verifyPhone .smsCode {width: 40px; margin-left: -16px; text-align: center; font-size:20pt; } */
span.verifyPhone {border-color: #AD122A; /*margin-left: -15px; margin-top: -10px;*/}
.verifyPhone.btn-primary {padding: 13px 90px; line-height: 22px; font-weight: 700; font-size: 18px; border: 2px solid #539534; background:#539534; border-radius: 2px; -webkit-border-radius: 2px;}
.green-link { color:#529534; text-decoration: underline;}
.bullet {font-size: 11px; color:#D8D8D8;}
span.verifyCode {border-color: #AD122A; margin: 0; display:block; text-align:center;}
#countdownTimer { font-weight: bold; color: #6D6D6D }

/* custom slider */
.switch { position: relative; display: inline-block; width: 60px; height: 34px;}
.switch input {display:none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #7ED321;}
input:focus + .slider {box-shadow: 0 0 1px #7ED321;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

#home-container { display:block; min-height:100%; padding-bottom:70px;}
#home-leftnav { display:inline-block; width:264px; border-right:1px solid #DEDEDE; padding:20px 0; vertical-align:top; min-height:1152px; }
#home-leftnav .my-accounts { font-size:14px; font-weight:700; padding:10px 0 20px 20px;}
#home-leftnav .my-accounts span { font-size:12px; margin-left:8px; border-radius: 50%; width: 32px; height: 32px; padding: 5px 9px 5px 9px; background: #fff; border: 1px solid #E3E3E3; color: black; text-align: center; }
#home-leftnav .plan { width:264px; height:74px; margin:0px; padding:14px; border:1px solid #E4E4E4; font-size:14px;}
#home-leftnav .plan span { font-weight:700;}
#home-leftnav .plan p {font-size: 14px; line-height: 22px; color: #000;}
#home-leftnav .plan:hover {  cursor:pointer; }
#home-leftnav .plan-active { width:264px; height:74px; margin:0px; padding:14px; border:1px solid #E4E4E4; border-left:4px solid #008BBF; font-size:14px; background-color:#EAF6FA; }
#home-leftnav .plan-active span { font-weight:700;}
#home-leftnav .find-accounts { width:224px; border:1px solid #ddd; margin:60px 0 12px 20px;text-align:center;}
#home-leftnav .find-accounts img { margin:12px auto;}
#home-leftnav .find-accounts span { color:#4A4A4A; font-size:16px; font-weight:700; display:block; padding:0 0 6px 0;}
#home-leftnav .find-accounts p { color:#474B55; font-size:13px; display:block; padding:0 14px; line-height:18px;}
#home-leftnav .find-accounts a { height: 32px; width: 87px; border: 1px solid #82C341;	color: #529535; font-size: 14px; font-weight:700; background-color:white; border-radius: 3px; margin:18px 0; cursor: pointer; display: inline-block; padding-top: 5px}
#home-leftnav .find-accounts a:hover, #home-leftnav .find-accounts a:focus { background: #529534; color: #fff; border-color: #529534; }
#home-leftnav .need-help { width:224px; height:72px; margin:60px 0 12px 20px; font-size:12px; color:#4A4A4A;}
#home-leftnav .need-help span { display:block; font-size:15px; font-weight:700; color:#F7911D; padding:0 0 12px 0;}
.mobile-leftnav-burger {display: none;}

#home-main .ready-to-pay {display: block; background-color: #EAF6FA; padding: 32px 0; text-align: center; margin: 16px 0 0 10px; min-height: 250px}
#home-main .ready-to-pay strong { color: #008bbe; letter-spacing: 0.03em; font-size: 24px; line-height: 32px; font-weight: normal; }
#home-main .ready-to-pay p {font-size: 12px; padding-bottom: 32px; font-weight: normal;}
#home-main .ready-to-pay a {line-height: 32px;}

#main-options {position: relative;}
#main-options h2 {color: white; position: absolute; top: 20%; padding-left: 5%}
#main-options p {	height: 40px;	width: 590px;	color: #FFFFFF;	font-size: 15px;	letter-spacing: -0.1px;	line-height: 20px;	text-align: left; position: absolute; top: 40%; padding-left: 5%}
/* #main-options a { top: 60%; margin-left: 5%; padding: 9px 12px; line-height: 19px; font-weight: 700; font-size: 17px;  background:#539534; border-radius: 6px; -webkit-border-radius: 6px; height: 42px;	width: 142px;} */

/* #main-options {display: inline-block; } */
#main-options img { margin-top: 20px; }
#main-options span { font-size:15px; line-height:18px; color:white; display:block; height:130px; padding:20px;}
#main-options a {  border-radius:6px; background-color: rgba(255,255,255, 0.3); font-size:15px; color:#FFFFFF; font-weight:700; padding:12px 24px; }
#main-options .make-first-payment {text-align:center; display: inline-block; margin:34px 0px 10px 12px; width:220px; height:252px; background-color:#008BBF; border-radius: 6px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);}
#main-options .pay-bill {text-align:center; display: inline-block; width:220px; margin:34px 0px 10px 12px; height:252px; background-color:#5E2584; border-radius: 6px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);}
#main-options .member-portal {text-align:center; display: inline-block; width:220px; margin:34px 0px 10px 12px; height:252px; background-color:#529535; border-radius: 6px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);}

#main-options .make-first-payment-non-member {text-align:center; display: inline-block; margin:34px 0px 10px 12px; width:450px; height:252px; background-color:#008BBF; border-radius: 6px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);}
#main-options .make-first-payment-non-member span { font-size:15px; line-height:18px; color:white; display:block; margin: auto; padding:20px; font-weight:700; width: 380px; height:110px;}
#main-options .make-first-payment-non-member a {  border-radius:6px; background-color: #2E9BC4; font-size:15px; color:#FFFFFF; font-weight:700; padding:12px 24px;}
#main-options .account-settings {text-align:center; display: inline-block; width:220px; margin:34px 0px 10px 12px;}
#main-options .account-settings a {border-radius:6px; background-color: #FFFFFF; font-size:15px; color:#474B55; font-weight:700; padding:12px 24px; margin-top: 20px;}
#main-options .activate-plan p {top: 40%; transform: translate(-50%, -50%); left: 50%; height: 40px;	width: 590px;	color: white;	font-size: 15px;	letter-spacing: -0.1px;	line-height: 20px;	text-align: center; position: absolute;}
#main-options .activate-plan h2 {color: white; position: absolute; top: 20%; transform: translate(-50%, -50%); left: 50%;}
#main-options .activate-plan a {position: absolute; top: 70%; transform: translate(-50%, -50%); left: 50%; padding: 9px 12px; font-weight: 700; font-size: 17px;
	background: rgba(255,255,255,0.25); color: white; border-radius: 6px; -webkit-border-radius: 6px; height: 42px;	width: 188px;}

#other-options {position: relative;}
#other-options h2 {color: white; position: absolute; top: 20%; padding-left: 5%}
#other-options p {	height: 40px;	width: 590px;	color: #FFFFFF;	font-size: 15px;	letter-spacing: -0.1px;	line-height: 20px;	text-align: left; position: absolute; top: 40%; padding-left: 5%}
#other-options a {position: absolute; top: 60%; margin-left: 5%; padding: 9px 12px; line-height: 19px; font-weight: 700; font-size: 17px;  background:#539534; border-radius: 6px; -webkit-border-radius: 6px; height: 42px;	width: 142px;}

#other-things {text-align: center; padding-top: 30px; padding-bottom: 40px}
#other-things .other-things-headers {font-size: 20px; line-height: 22px; text-align: center; color: #474B55; width: 700px; height: 22px; font-weight: 600;}
#other-things span {width: 5px; height: 5px;}
#other-things ul {columns: 2; -webkit-columns: 2; -moz-columns: 2; text-align: left; display: inline-block;}
#other-things ul li {line-height: 30px; font-size: 13px; color: #474B55; letter-spacing: -0.1px; }
#other-things .fa-check-circle {color: #008BBF; margin-right: 12px; font-size: medium}

#home-main { display:inline-block; width:710px; vertical-align:top; min-height:100%;  min-height:800px;}
#home-main .other-things-title {display: block; margin:30px 0; text-align:center; color:#474B55; font-size:24px;}
#home-main .other-things {display: inline-block; padding:0 0 0 10px;}
#home-main .other-things .tile {display: inline-block; width:348px; height:118px; text-align:center; padding:20px 0 0 0; margin:0 0 6px 0;}
#home-main .other-things .tile a {font-size:15px; color:#4A4A4A; font-weight:500;}
#home-main .other-things .tile a:hover { text-decoration: none; }
#home-main .other-things .tile:hover {background-color:#fafafa;}

#get-started-tiles {display: inline-block; padding-top:40px; padding-left:20px;}
#get-started-tiles span {	height: 32px;	width: 192px;	color: #474B55;	font-size: 20px;	line-height: 30px; font-weight: 500;}
#get-started-tiles p { height: 135px;	width: 192px;	opacity: 0.75;	color: #474B55;	font-size: 15px;	line-height: 20px;}
#get-started-tiles a { height: 19px;	width: 102px;	color: #529535;	font-size: 17px;	line-height: 19px; font-weight: 600;}
#get-started-tiles .resources li {width: 164px; height: 19px; color: #474B55; font-size: 17px; letter-spacing: -0.3px; line-height: 19px; padding: 10px 0px 28px 0px; border-bottom: 1px solid #F1F1F1;}
#get-started-tiles .tile1 {display: inline-block; width:220px;}
#get-started-tiles .tile2 {display: inline-block; width:230px;}
#get-started-tiles .tile3 {display: inline-block; width:220px; vertical-align: top;}

#home-main .note {border: .5px solid #DEDEDE; width:700px; display: block; padding:12px; margin: 20px 0 0 10px; font-size:12px; color:#4A4A4A;}
#home-main .note b {font-weight: 600;}
/* #home-main .mask {margin-top: 30px;	height: 216px;	width: 700px;	border-radius: 6px;	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); position: relative; background-image: url(/img/binder_payment.png); background-size: cover;} */
#home-main .mask {}

.link-expired-title { font-size:24px; color:#474B55; text-align:center; padding:100px 0 20px 0; }
.link-expired-body { max-width:640px; margin:auto; text-align:center; font-size:15px;}

.modal-dialog { margin:18% auto; width:340px;}
.modal-header { border:none; padding-left:24px; padding-bottom:0px; }
.modal-header h5 { font-weight:700; font-size:18px; }
.modal-body { border:none; padding-left:24px;}
.modal-body span { display:block; padding:6px; }
.modal-footer { text-align:center; border:none; }

#verifyChannelsModal .modal-dialog { margin-top: 5%; margin-left: 28%; width:800px; position: fixed; max-width: 800px}
#verifyChannelsModal .modal-footer { text-align:center; justify-content: center; }

#resendCodeModal .modal-content { border-radius:8px; }
#resendCodeModal .modal-header { text-align:center; justify-content: center; }
#resendCodeModal .modal-header h5 { font-weight:300;}
#resendCodeModal cite { text-color:#474B55; font-size:12px; font-style:normal;}
#resendCodeModal .modal-footer { text-align:center; justify-content: center; }

#sessionTimeoutModal .modal {z-index: 1350;}
#sessionTimeoutModal .modal-dialog { width: 432px; max-width: 432px}
#sessionTimeoutModal .modal-content { border-radius: 4px; }
#sessionTimeoutModal .modal-body {text-align: center;}
/* #sessionTimeoutModal .modal-header { text-align:center; justify-content: center; } */
/* #sessionTimeoutModal .modal-footer { text-align:center; justify-content: center; } */
/* #sessionTimeoutModal .session-sign-out { height:50px; border:2px solid #474b55; background:#fff; font-size:16px; color:#474b55;} */
/* #sessionTimeoutModal .session-sign-in { height:50px; font-size:16px; background:#54943b; color:#fff;} */

#confirm-modal .modal-footer { text-align:center; justify-content: center; }

.reg-error { font-size:18px; color:#474B55; text-align:center; padding:80px 0 20px 0; }
.error-code {color: #474B55; font-weight: bold; font-size: 21px}

.error-elephant img { margin:0 auto; padding: 120px 0 10px 0; }
.error-title { font-size:70px; color:#474B55; text-align:center; font-weight: 600}
.error-body { font-size:17px; color:#474B55; text-align:center; padding:0px 0 20px 0;}

.maintenence-title {font-size:24px; color:#474B55; text-align:center; font-weight: 600; margin-top: 30px; line-height: 32px; letter-spacing: -0.27px;}
.maintenence-body {font-size:16px; color:#474B55; text-align:center; padding: 5px 0 20px 0; display: block; width: 400px; margin: auto; line-height: 24px;}

/* login */
#header-login { padding-top: 60px;} */
#header-login a.logo { padding: 40px 0 0 0; }
#header-login img.logo { display: block; margin: auto; }
#login-wrapper { height: auto; background-image: url(/img/lol-bg-pattern.png); background-color: #008BBF; }
.login-center { margin:auto; max-width: 400px; }
.login-form { background:#fff; border-radius:8px; -webkit-border-radius:8px; f:20px 10px 0 10px; padding: 20px; margin: 0 15px 0 15px; }
.login-title { display:block; font-size:24px; font-weight:500; text-align:center; padding:40px 0 30px 0; color:#fff;}
.login-sign-up { text-align:center; padding:30px 0 0 0; color:#fff; font-weight:700; font-size:15px; line-height: 40px; }
.login-sign-up a { color:#fff; font-weight:700;}
.login-sign-up a:hover { text-decoration: none;}
.login-sign-up cite { font-style:normal; font-weight:500; display:block; font-size:12px; padding:10px 0 0 0;}
.login-form .float-right { padding-top:10px; color: #529535;}
.login-form .float-right a { color: #529535;}
.login-form .shared-text { width:210px; padding:4px 0 0 20px;}
.submit-btn { width: 100% }

.forgot-password-form .float-right { padding-top:10px; color: #529535;}
.forgot-password-form .float-right a { color: #529535;}

/* SETTINGS */

/* .desktop-settings-header {background:#fff url(https://assets.healthfirst.org/jpeg_adc81d8c5dcbd21203b51e72e4075f5e) right top no-repeat; background-size: cover; height: 100%; background-position: center;} */
.settings-header-part {height: 60%}
.settings-nav {max-width: 1024px; padding: 0 15px; margin: auto; line-height: 100px; margin-bottom: 4%}
/* .settings-dropdown-menu {z-index: 101 !important; position: relative !important; top: auto;} */
.dropdown-item {z-index: 101; display: block;}

/* breadcrumb */
#settings-breadcrumb { position: relative; margin: auto; z-index: 98; width: 100%}
.settings-wrapper { max-width: 950px; width: 950px;  margin: auto; padding:28px 16px 12px 16px; border-bottom:1px solid #ccc;}
ul.settings-breadcrumb {list-style: none; }
ul.settings-breadcrumb li {display: inline; font-size: 14px; color:#4A4A4A; font-weight:700;}
ul.settings-breadcrumb li+li:before {padding: 18px; color: #4A4A4A; content: ">\00a0"; }
ul.settings-breadcrumb li a {color: #4A4A4A; text-decoration: none; }
ul.settings-breadcrumb li a:hover {color: #4A4A4A; text-decoration: underline; }

#settings-breadcrumb-white { position: relative; margin: auto; z-index: 99; width: 100%;}
.settings-wrapper-white { max-width: 950px; width: 950px;  margin: auto; padding:7px 16px 12px 16px; border-bottom:1px solid #ccc;}
ul.settings-breadcrumb-white {list-style: none; }
ul.settings-breadcrumb-white li {display: inline; font-size: 14px; color:#fff; font-weight:700;}
ul.settings-breadcrumb-white li+li:before {padding: 18px; color: #fff; content: ">\00a0"; }
ul.settings-breadcrumb-white li a {color: #fff; text-decoration: none; }
ul.settings-breadcrumb-white li a:hover {color: #fff; text-decoration: underline; }

/* transition: all 1s linear; */
#settings-profile {  height:100px; color:#fff; position: relative; z-index: 100; margin-top: 0%; }
.settings-profile-wrapper { max-width: 700px; position: relative; margin: auto; }
#settings-profile-name { display:inline-block; width:420px; height:100px; line-height:100px; vertical-align:middle; font-size:28px;}
#settings-profile-dob { display:inline-block; width:100px; font-size:12px; vertical-align:middle; text-align:center; border-right:1px solid #fff;}
#settings-profile-dob span { font-size:16px; }
#settings-profile-dob-nonmember { display: inline-block; width: 270px; font-size: 12px; vertical-align: middle; text-align: right; }
#settings-profile-dob-nonmember span { font-size:16px; }
#settings-profile-gender { display:inline-block; width:80px; font-size:12px; vertical-align:middle;  text-align:center; border-right:1px solid #fff;}
#settings-profile-gender span { font-size:16px; }
#settings-profile-zip { display:inline-block; width:80px; font-size:12px;vertical-align:middle;  text-align:center;}
#settings-profile-zip span { font-size:16px; }

#settings-profile-box { position: relative; margin: auto; padding-top: 270px; min-height: 100%; padding-bottom: 200px;}
.settings-profile-box-wrapper { max-width: 700px; position: relative; margin: auto; border:1px solid #ddd; border-radius:4px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);}
#settings-profile-box .line { display:inline-block; height:56px; line-height:56px; vertical-align:middle;font-size:16px;border-bottom:1px solid #eee; background-color: #fff}
#settings-profile-box .line-icon { display:inline-block; width:60px; text-align:center; vertical-align: middle;}
#settings-profile-box .line-icon img {  margin:auto; }
#settings-profile-box .line-name { display:inline-block; width:120px;}
#settings-profile-box .line-value { display:inline-block; width:340px;}
#settings-profile-box .line-value .username-text { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 230px; display: inline-block; height: 36px}
#settings-profile-box .line-value .email_txt:hover {overflow: visible; white-space: normal; height:auto;}
#settings-profile-box .line-button { display:inline-block; width:165px; text-align:right; padding-right:10px;}
#settings-profile-box .line-button a { font-size:12px; color:#529535; font-weight:700; border: 1px solid #D8D8D8; border-radius:4px; padding:4px 12px;}
#settings-profile-box .addNumberText { font-size:12px; font-weight:700;}
#settings-profile-box .unverified { color:white; background-color:orange; font-size:12px; font-weight:700; border-radius:4px; padding:4px; }

#settings-profile-mfa-heading {  color:black; padding:20px 0;}
.settings-profile-mfa-heading-wrapper { max-width: 700px; position: relative; margin: auto; height:30px; line-height:30px; font-size:18px; font-weight:700; color:#4A4A4A;}

#settings-profile-mfa-box { }
.settings-profile-mfa-box-wrapper { max-width: 700px; position: relative; margin: auto; border:1px solid #ddd; border-radius:4px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);}
#settings-profile-mfa-box .line { display:inline-block; height:104px; line-height:104px; vertical-align:middle;font-size:16px;border-bottom:1px solid #eee; }
#settings-profile-mfa-box .line-icon { display:inline-block; width:100px; text-align:center; vertical-align: middle;}
#settings-profile-mfa-box .line-icon img { margin:auto;}
#settings-profile-mfa-box .line-desc { display:inline-block; width:500px; line-height:100%; vertical-align:middle; padding:0 24px 0 0;}
#settings-profile-mfa-box .line-toggle { display:inline-block; width:80px;}
#settings-profile-mfa-box .line-toggle a { font-size:12px; color:#529535; font-weight:700; border: 1px solid #D8D8D8; border-radius:4px; padding:4px 12px;}

.flash-confirm { font-size:16px; text-align:center; padding-top:20px;}
.separator { display:block; width:100%; height:2px; padding: 16px 0 6px 0; border-bottom: 1px dashed black; }

/* flash messaging */
.search-flash-failure { height: 74px; width: 463px; border-radius: 4px; background-color: #FFF1F1; box-shadow: 0 2px 0 0 rgba(0,0,0,0.2); margin: 25px auto;}
.search-alert {color: #AD122A}

.search-title-bold { font-size:25px; color:#474B55; text-align:center; font-weight: bold;}
.search-body { font-size:16px; color:#474B55; text-align:center; padding-bottom:24px; width:420px; margin:0 auto;}
/* .search-btn {padding: 13px 115px; line-height: 22px; font-weight: 700; font-size: 18px; border: 2px solid #539534; background:#539534; border-radius: 2px; -webkit-border-radius: 2px; margin-top: 15px} */
.ssn-search {line-height: 20px}
.left {float: left;}
.right {float: right; display: flex;}
/* #searchMemberSSNForm { padding: 20px 0 120px 0; } */

.search-result-header {margin: 0 auto;}
.search-result-sub-header {margin-top: 50px}
.search-result-sub-header p {font-size:18px; color:#474B55; padding-left: 5px; }
.search-result-sub-header h3 {font-size:22px; color:#474B55; font-weight: bold;}
.search-result-block {background-color: #fff; display: inline-block; padding: 25px; margin: 10px; box-shadow: -1px 1px 5px 0px #dedede; width:100%;}
.search-result-block p {font-size: 15px}

.search-result-success {color: #008BBF; font-size: 20px; padding-bottom: 5px; display: block; text-align: center;}
.search-result-failure {color: #AD122A; font-size: 20px; padding-bottom: 5px; display: block; text-align: center;}

.this-member-account-spinner {padding-top: 40px}
.this-member-account {	height: 30px;	width: 170px;	color: rgba(71,75,85,0.75);	font-weight: bold;font-size: 13px;	letter-spacing: 0.3px;	line-height: 15px;	text-align: center; display: inline-block; padding-top: 40px}
.add-membership-btn {cursor: pointer;}
.membership-tile {cursor: pointer;}
.memberIDSearch-btn, .SSNSearch-btn, .nonMemberIDSearch-btn, .nonMemberSSNSearch-btn {cursor: pointer; color: #529535; text-decoration: underline; font-weight:700; font-size: 14px}

.membership-card-mobile-separator {display: none;}
.member-search-again-mobile {display: none;}
.loading-spinner {padding-top: 40px}
.membership-card-left {max-width: 550px}
.membership-card-right {float: right;}
.membership-card-report { padding-right: 10px}
.membership-card-report, .membership-card-reported {display: inline-block; width: 80px; vertical-align: top; text-align: center; padding-top: 20px}
.membership-card-report p, .membership-card-reported p {padding-top: 12px; color: #474B55; font-size: 16px; font-weight: 600;}
.membership-card-reported p {color: hsla(208,7%,46%,.5);}
.report-membership-btn img,  .attach-membership-btn img {width: 40px; height: 40px;}

.membership-card-attached, .membership-card-attach {display: inline-block; width: 80px; vertical-align: top; text-align: center; margin-right: 10px; padding-top: 20px}
.membership-card-attached p, .membership-card-attach p {padding-top: 10px; color: #474B55; font-size: 16px; font-weight: 600;}
.membership-card-attached p {color: hsla(208,7%,46%,.5);}

.membership-card-attach:hover, .membership-card-report:hover {cursor: pointer;}
.hover_off, .membership-card-report:hover .hover_on{ display:block}
.hover_on, .membership-card-report:hover .hover_off{ display:none}
.hover_off, .membership-card-attach:hover .hover_on{ display:block}
.hover_on, .membership-card-attach:hover .hover_off{ display:none}

.membership-card-keys { width: 150px; font-weight: 600; display: inline-block;}
.membership-card-values {display: inline-block; width: 390px;}

.underline-text { text-decoration: underline; }
.table-element { display: table; }
.table-cell-element { display: table-cell; vertical-align: middle; }

.contactus-title { font-size:25px; color:#474B55; text-align:center; font-weight: bold; padding:30px 0 20px 0;}
.contactus-subtitle { font-size:18px; color:#474B55; text-align:center; padding-bottom:20px; }
#contactus { color:#4A4A4A; }
.contactus-wrapper { max-width: 860px; position: relative; margin: auto; }
#contactus h1 { font-size:24px; color:#529535; font-weight:700; padding:30px 0 20px 0;}
#contactus p { font-size:16px; }
#contactus h2 { font-size:18px; color:#474B55; font-weight:700; padding:30px 0 20px 0;}
#contactus .box-top-o { width:860px; height:62px; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 0 0 24px; border-top:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15); }
#contactus .box-top-c { width:860px; height:62px; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 0 0 24px; border:1px solid rgba(0,0,0,0.15); }
#contactus .box-btm { width:860px; height:108px; background-color:#fff; color:#474B55; font-weight:500; font-size:16px; padding:16px 24px; border-bottom:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15);}
#contactus .contactus-left { width:780px; display:inline-block;}
#contactus .contactus-left:hover { cursor:pointer; }
#contactus .contactus-right { width:20px; font-weight:700; display:inline-block;}
#contactus .contactus-right:hover { cursor:pointer; }
#contactus-box-1-btm { display:none; }
#contactus-box-2-btm { display:none; }
#contactus-box-3-btm { display:none; }
#contactus-box-4-btm { display:none; }
#contactus-box-5-btm { display:none; }
#contactus-box-6-btm { display:none; }
#contactus-box-7-btm { display:none; }

.doc_img {  display: block; margin-left: auto; margin-right: auto; border-radius: 10px; height: 250px}

/* try to make sure Chrome doesn't add its own yellow fill for autocomplete input values */
input:-webkit-autofill { background-color: transparent !important; }
/* make sure IE doesn't display its own password show/reveal icons */
input::-ms-clear, input::-ms-reveal { display: none; }
.resp-cols { margin:0; box-sizing:border-box; }
.cookie-msg { background-color: #fff9de; padding: 0 10px 5px 10px; border-bottom: 1px solid #eee; }
/* .login-container {background-image: url(/img/lol-bg-pattern.png); background-color: #008BBF; min-width: 100%; min-height: 100%; margin-right: auto; margin-left: auto; } */
.details-column { background-color: #ffffff; padding: 60px !important; }
.details-callout { border: 1px solid #eaeaea; border-radius: 5px; background-color: #dbf5ff; }
.details-text { text-align: center; padding: 20px; }
.details-column h3 { text-align: center; font-size: 24px; font-weight: 600; padding: 20px 10% 20px 10%; }
.details-column h4 { text-align: center; font-size: 18px; font-weight: 600; padding: 50px 10% 10px 10%; }
.details-column ul { list-style-image: url(/img/check.png); line-height: 20px; margin: 0 20px 20px 20px; }
.details-column ul li { padding: 8px 0 8px 0; border-bottom: 1px dashed #ccc; }
.footer-links { color: #ffffff; text-align: center; margin: 60px 40px 20px 40px; }
.parent { width:250px; height:250px; background-color:#CCCCCC; position:relative; }
.child { width:100px; height:100px; background-color:#999999; position:absolute; bottom:0px; right:0px; }




.footer-links a { color: #ffffff; font-size: 14px; text-decoration: none; }
.footer-links a:hover { font-weight: bold; text-decoration: underline; }
.copyright { color: #CCC; text-align: center; font-size: 11px; font-weight: bold; }
.input-icon { background-repeat: no-repeat; background-position: left 10px center; background-attachment: scroll; display: inline-block; padding-left: 40px; }
/* .input-icon-right { background-repeat: no-repeat; background-position: right 10px center; background-attachment: scroll; display: inline-block; padding-right: 40px; } */
.account-icon, .username-icon{ background-image: url(/img/account_normal.png); }
.account-error-icon, .username-error-icon{ background-image: url(/img/account_red.png); }
.key-icon, .password-icon, .password_confirmation-icon { background-image: url(/img/key.png); }
.key-error-icon, .password-error-icon, .password_confirmation-error-icon { background-image: url(/img/key_red.png); }
.email-icon { background-image: url(/img/email_light.png); }
.email-error-icon { background-image: url(/img/other/ico-email-error.svg); }
.info-icon { background-image: url(/img/info_light.png); }
.arrow-box { position: relative; background: #F5FAEF; border: 1px solid #DEDEDE; }
.arrow-box:after, .arrow-box:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-box:after { border-color: rgba(245, 250, 239, 0); border-top-color: #F5FAEF; border-width: 10px; margin-left: -10px; }
.arrow-box:before { border-color: rgba(222, 222, 222, 0); border-top-color: #DEDEDE; border-width: 11px; margin-left: -11px; }
.input-icon-fg-wrapper { position: relative; width: 100%; }
.input-icon-right-fg { cursor: pointer; border: none; background: none; padding: 0; position: absolute; right: 15px; top: 52px; }
.input-icon-right-fg2 { cursor: pointer; border: none; background: none; padding: 0; position: absolute; right: 30px; top: 215px; }
.pb-120 { padding-bottom: 50px; } /*  120 */
.icon-holder { position: relative; }
.icon-holder input[type="password"] { padding-right: 30px }
.icon-holder .input-icon-right { position: absolute; right: 15px; top: 46px; z-index: 3; }
.custom-row-gutters > [class*="col-"] { padding-right: 0; padding-left: 15px; }
.subheading-tiny { font-size: 14px; line-height: 3em; }
.modal-md1 { width: 600px; max-width: 100%; }
#confirm-modal .modal-content { text-align: center; }
#confirm-modal h5 { width: 100%; }
#confirm-modal #action-data { font-size: 14px; background-color: #eaeaea; padding: 10px; }
.tooltip-inner { max-width: 100% !important; }
#footer-part-mobile {display: none;}
.memberIdTooltip { position: relative; display: inline-block; background-image: url(/img/info_light.png); min-width: 25px; min-height: 25px}
.memberIdTooltipImg { visibility: hidden; text-align: center; position: absolute; z-index: 1; bottom: 100%; left: 50%; margin-left: -60px; min-width: 251px; width: 251px; min-height: 90px;}
.memberIdTooltip:hover .memberIdTooltipImg {visibility: visible;}
.code-expiry {display: block; text-align: center; font-size: 16px; }
.info-header {font-weight: 600; font-size: 14px; display: block; margin-bottom: 20px}
.info-sub-header {font-size: 14px; line-height: 18px; display: block; margin-bottom: 20px}
.info-list-items li {line-height: 24px; margin-left: 25px; list-style-type: disc; list-style-position: outside;}
.info-list-items li:last-child {line-height: 24px; margin-left: 25px; list-style-type: disc; list-style-position: outside; margin-bottom: 10px}

.word-emphasize {font-weight: 600; text-decoration: underline; }
#member-note { margin: auto; background-color: #008BBF; font-size: 20px; color: #fff; position: relative; text-align: center; padding-top: 25px; padding-bottom: 15px;}

.new_page_img {display: inline;}
#announcementsModal .modal-body { padding: 0px 40px 16px 40px;}
#announcementsModal .modal-dialog { margin: 10% auto; width: 880px !important; max-width: 880px}
#announcementsModal .modal-title { height: 52px; width: 380px;  line-height: 52px;}
#announcementsModal .modal-body span {padding: 6px 0px 10px 0px}
#announcementsModal .modal-header {padding-left: 40px}
/* #announcementsModal .about-teladoc {padding-bottom: 10px} */
#announcementsModal .modal-header h5 { font-weight:700; font-size: 36px; color: #003863; line-height: 52px;}
#announcementsModal .modal-content { border-radius: 10px; }
#announcementsModal .secondary-title {font-weight: 700}
#announcementsModal .instructions {padding: 1rem;}
#announcementsModal .tertiary-links {display: flex;}
#announcementsModal .tertiary-title hr {margin-top: 0px; margin-bottom: 0px;}
#announcementsModal .tertiary-title a, #announcementsModal .instructions a {color: #003863; text-decoration: underline;}
#announcementsModal .tertiary-title span { color: #003863; font-size: 17px; letter-spacing: -0.24px; line-height: 32px; font-weight: 700}
#announcementsModal .modal-footer { text-align:center; justify-content: center; }
#announcementsModal .modal-footer .btn-announcement {color: #474B55; background-color: #EAEAEA; border-color: #EAEAEA}
#announcementsModal .modal-footer .btn-announcement:hover {color: #fff; background-color: #529535; border-color: #EAEAEA}
#announcementsModal .fine-print { color: #474B55; font-size: 12px; letter-spacing: 0.01px; line-height: 18px;}
#announcementsModal .fine-print hr {margin-top: 0px}


/* Settings page header Animation */
/* .portal-settings-header { position: fixed; top: 0; left: 0; width: 100%; background: #3490dc; z-index: 99; max-height: 450px; overflow: hidden; -webkit-transition: max-height 1s ease; -moz-transition: max-height 1s ease; background:#fff url(https://assets.healthfirst.org/jpeg_adc81d8c5dcbd21203b51e72e4075f5e) right top no-repeat; background-size: cover; background-position: center; transition: max-height 1s ease; } */
.portal-settings-header { position: fixed; top: 0; left: 0; width: 100%; background: #3490dc; z-index: 99; max-height: 450px; overflow: hidden; -webkit-transition: max-height 1s ease; -moz-transition: max-height 1s ease;  background:#fff url(/img/SettingsBackground_1_1600.png) right top no-repeat; background-size: cover; background-position: center; transition: max-height 1s ease; }
.settings-background-1 {background:#fff url(/img/SettingsBackground_1_1600.png) right top no-repeat; background-size: cover; background-position: center;}
.settings-background-2 {background:#fff url(/img/SettingsBackground_2_1600.png) right top no-repeat; background-size: cover; background-position: center;}
.settings-background-3 {background:#fff url(/img/SettingsBackground_3_1600.png) right top no-repeat; background-size: cover; background-position: center;}
/* .settings-background-4 {background:#fff url(/img/SettingsBackground_4_1600.png) right top no-repeat; background-size: cover; background-position: center;} */
.settings-background-5 {background:#fff url(/img/SettingsBackground_5_1600.png) right top no-repeat; background-size: cover; background-position: center;}

.portal-settings-header h1, .portal-settings-header nav a { line-height: 30px;  }
.portal-settings-header h1 { text-transform: uppercase; color: #333; letter-spacing: 4px; font-size: 4em; margin: 0; float: left; }
.portal-settings-header nav a:hover { color: #333; }

/* Transitions and class for reduced height */
.portal-settings-header h1, .portal-settings-header nav a { -webkit-transition: all 2s; -moz-transition: all 2s; transition: all 2s; }
.portal-settings-header.portal-settings-header-shrink { max-height: 145px; }
.portal-settings-header.portal-settings-header-shrink h1, .portal-settings-header.portal-settings-header-shrink nav a { line-height: 35px; }
.portal-settings-header.portal-settings-header-shrink h1 { font-size: 2em; }


/* Example Media Queries */
/* IPAD and less */
@media screen and (max-width: 32.2em) {
	.portal-settings-header .portal-settings-header-inner { width: 100%; }
	/* .portal-settings-header h1, .portal-settings-header nav { display: block; margin: 0 auto; text-align: center; float: none; } */
	.portal-settings-header h1, .portal-settings-header nav {margin-top: 5%;}
	.portal-settings-header h1, .portal-settings-header nav a { line-height: 30px; }
	.portal-settings-header nav a { margin: 0 10px; }
	.portal-settings-header.portal-settings-header-shrink { max-height: 90px; }
	.portal-settings-header.portal-settings-header-shrink.shrink-immediately {-webkit-transition: none; -moz-transition: none; transition: none;}
	.portal-settings-header.portal-settings-header-shrink h1, .portal-settings-header.portal-settings-header-shrink nav a { line-height: 45px; }
	.portal-settings-header.portal-settings-header-shrink h1 { font-size: 2em; }
	.portal-settings-header.portal-settings-header-shrink nav a { font-size: 1em; }

	   ul.navbar-nav li a span{
		 /* display: none; */
	   }

	   .navbar-sidenav {
		   /* display: inline-block; */
		   width: auto;
		}

		ul.navbar-nav li a img{
			/* float: right; */
		 margin-left:10px;
		 margin-right: 16px !important;
	 	}
}
@media screen and (max-width: 32.25em) { .portal-settings-header nav a { font-size: 1em; } .portal-settings-header h1, .portal-settings-header nav {margin-top: 5%; margin-bottom: 10%} }
@media screen and (max-width: 24em) { .portal-settings-header nav a, .portal-settings-header.portal-settings-header-shrink nav a { line-height: 1; } }
#settings-profile.fadeouttrigger{ -webkit-animation: hf-fade-out 2s; animation: hf-fade-out 2s;}
#settings-profile.fadeintrigger{ -webkit-animation: hf-fade-in 2s; animation: hf-fade-in 2s;}

/* animation */
@keyframes hf-fade-out { from {top: 0px; opacity: 1} to {top: -200px; opacity: 0}}
@-webkit-keyframes hf-fade-out { from {top: 0px; opacity: 1} to {top: -200px; opacity: 0}}
@keyframes hf-fade-in { from {top: -200px; opacity: 0} to {top: 0px; opacity: 1}}
@-webkit-keyframes hf-fade-in { from {top: -200px; opacity: 0} to {top: 0px; opacity: 1}}


.subfooter-banner-heading {
  height: 64px;
  width: 348px;
  color: #003863;
  font-size: 20px;
  letter-spacing: -0.24px;
  line-height: 32px;
  font-weight: bold;
}

.subfooter-banner-list {
  height: 112px;
  width: 324px;
  color: #474B55;
  font-size: 18px;
  letter-spacing: -0.59px;
  line-height: 28px;
}

.subfooter-banner-note {
  height: 24px;
  width: 333px;
  color: #474B55;
  font-size: 12px;
  letter-spacing: -0.13px;
  line-height: 18px;
}

.ios-badge-md {
  height: 48px;
  width: 162px;
  cursor: pointer;
}

.subfooter-banner-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }

  .subfooter-banner-list li {
	padding-left: 16px;
  }

  .subfooter-banner-list li::before {
	content: "•"; /* Insert content that looks like bullets */
	padding-right: 8px;
	color:#000000;
  }

  .not-you {font-size: 12px;}
