/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
    /* .right-panel {display: none;}
	.nav-top {width: auto;}
	.nav-mid {width: auto;}
    .nav-bottom {display: none;}
    .card, .content-rect {
        margin-right: 16px;
        margin-left: 16px;
    }
} */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .right-panel {
        padding: 0px;
    }
    .left-panel {
        padding: 0px;
    }
    .nav-top {
        width: auto;
    }
    .nav-mid h1,
    .nav-mid h4 {
        width: auto;
    }
    .nav-bottom {
        display: none;
    }
    .settings-main-card {
        margin: auto;
        padding: 1em;
    }
    .notify-alert {
        width: 300px !important;
    }
    /* .vaccine-pull-right {float: right;} */
    .non-residents-btn {
        margin-top: 1rem;
        margin-left: 0rem;
    }
    .caption-slim {
        padding: 1rem 0rem;
    }
    .btn-white {
        width: 100%;
    }
    .vaccine-banner {
        padding: 14px 20px 14px;
    }
    #externalSiteModal .modal-dialog {
        width: fit-content;
        padding: 8px;
    }
    #externalSiteModal .modal-footer {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }
    #externalSiteModal .modal-footer a {
        margin: 0rem;
        margin-bottom: 5px;
        width: -webkit-fill-available;
    }

    .pharmacyTooltipText {
        width: 222px;
        min-width: 222px;
        margin-left: -175px;
    }
    .vaccine-links #NONNYResidentsVaccine {
        margin-top: 1rem;
    }
    .vaccine-links {
        margin-left: 0rem !important;
    }
    /* .healthplan-box {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    } */

    .tab-content.id-content {
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .vaccine-pull-right {
        float: right;
    }
    .vaccine-links {
        margin-left: -0.5rem;
        margin-top: 0.5rem;
    }
    /* .healthplan-box {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .healthplan-box .card:first-child {
        margin-right: 16px;
    }
    .healthplan-box .card:only-child {
        margin-right: 0px;
    } */
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #accountInformation .collapse {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1024px) {
    #footer-part ul,
    #footer-part-mobile ul {
        margin-left: 40px;
    }
    .footer-right {
        margin-right: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #greetingHolder {
        text-align: center;
    }
    #header-backdrop h1 {
        font-size: 32px;
    }
    #header-backdrop p {
        font-size: 16px;
        font-weight: 500;
    }
    .container {
        padding-bottom: 40px;
    }
    .slick-next.slick-arrow {
        display: none !important;
    }

    #footer-part,
    #footer-part-mobile {
        z-index: 10;
        position: relative;
    }
    #footer-links-login-desktop,
    #footer-part {
        display: none;
    }
    #footer-links-copyright-login {
        display: none;
    }
    #footer-part-mobile {
        display: block;
    }

    #footer-part,
    #footer-part-mobile {
        z-index: 10;
    }
    #footer-part .footerWrapper,
    #footer-part-mobile .footerWrapper {
        min-height: 0%;
        padding: 0px 15px;
    }
    #footer-part p,
    #footer-part-mobile p {
        float: none;
        margin: 0 0px;
        padding: 3px 0 10px;
        letter-spacing: 0;
        color: #a8abac;
    }
    #footer-part p span,
    #footer-part-mobile p span {
        display: none;
    }
    #footer-part,
    #footer-part-mobile {
        text-align: center;
    }
    #footer-part ul,
    #footer-part-mobile ul {
        display: block;
        float: none;
        margin: 0;
        padding: 10px 0 0;
    }
    #footer-part ul li,
    #footer-part-mobile ul li {
        border: none;
        width: 100%;
        padding: 10px 0;
    }
    #footer-part ul li a,
    #footer-part-mobile ul li a {
        color: white;
    }
    #footer-part ul li a:hover,
    #footer-part-mobile ul li a:hover {
        text-decoration: none;
    }

    .footer-left {
        float: none;
        text-align: left;
    }
    .footer-right {
        float: none;
        text-align: left;
        color: white;
    }
}

@media (width: 768px) {
    #rightPanel {
        margin-left: 8.33333333%;
        max-width: 50%;
    }
    #assurance-right-pane {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    /* #footer-part ul, #footer-part-mobile ul { margin-left: 20px; }
	.footer-right { margin-right: 20px; } */
    .tablet-gutters {
        padding: 0 86px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
    #navbar .nav-item {
        padding-bottom: 25px;
    }

    .tablet-gutters {
        padding: 16px; 
    }
    .services-deck .card {
        max-width: 100%;
        margin: 4px 0;
    }
    /* .footer-left { float: none; text-align: left; }
	.footer-right { float: none; text-align: left; width: auto; margin: auto; color:white; }
	#footer-part ul, #footer-part-mobile ul { margin: 0; }
	.footer-right { margin: 0; } */
}

@media (max-width: 425px) {
    #notificationModal .close-modal,
    #selectPlanModal .modal-dialog {
        width: 100%;
    }

    

    .subfooter-banner-note {
        width: 100%;
        text-align: center !important;
        margin-bottom: 1rem !important;
    }

    .subfooter-banner-buttons {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3rem !important;
        width: 100%;
    }

    .digitalId-container {
        box-shadow: none;
        border-radius: unset;
        background-color: #ffffff;
        padding: 3em 1em;
        margin-bottom: 2.3rem;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
}

@media (max-width: 375px) {
    /* .card-text,
    .content-rect-text {
        padding-top: 14px;
    } */

    .body-text {
        width: 250px;
    }

    /* #timesTable {
		width: auto;
	} */
}

@media (max-width: 320px) {
    .card-text,
    .content-rect-text {
        width: 100%;
        /* padding-top: 14px; */
    }

    .body-text {
        width: 200px;
    }

    .error-card-btn-secondary {
        margin-bottom: 8px;
    }

    /* #timesTable {
		width: auto;
	} */
}

@media (min-width: 375px) {
    .error-card-btn-secondary,
    .error-card-btn-secondary:hover {
        margin-right: 4px;
    }
    .error-card-btn-primary,
    .error-card-btn-primary:hover {
        margin-left: 4px;
    }


}

@media (min-width: 768px) {
    .error-card {
        width: 480px;
    }

    .services-deck {
        margin-left: -4px;
        margin-right: -4px;
    }

    .services-deck .card {
        /* -webkit-box-flex: 0;
        -ms-flex: 0 0 194px;
        flex: 0 0 194px; */
        max-width: 193px;
    }

    .services-deck .card-lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 295px;
        flex: 0 0 295px;
        max-width: 295px;
        margin-right: 3px;
    }
}

@media (min-width: 1024px) {
    .services-deck .card {
        /* -webkit-box-flex: 0;
        -ms-flex: 0 0 212px;
        flex: 0 0 212px;
        max-width: 212px;
        margin-right: 4px; */
        max-width: 211px;
    }

    .services-deck .card-lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 322px;
        flex: 0 0 322px;
        max-width: 322px;
        margin-right: 4px;
    }

    /* .card-deck.services-deck {
        margin-right: -4px;
    } */
}
