/* SPLASH SCREEN BEFORE LOGIN */
#splash-wrapper { padding-top: 48px; width: 100%; min-height: 100%; position: relative; background: #fafafa; }
.splash-wrapper { padding: 0 15px; max-width: 1024px; position: relative; margin: auto; min-height:100%; padding-bottom:200px; }
.splash-wrapper:after { content: ''; clear: both; display: block; width: 100%; height: 0; overflow: hidden; }
#splash-container { display:inline-block; min-height:100%; padding: 48px 20px 120px 20px; }
#splash-container .splash-left { width:480px; display:inline-block; vertical-align: top; padding-top:120px;}
#splash-container .splash-right { width:450px; display:inline-block; }
#splash-container .splash-right img { padding-top:100px;}
.welcome-header { display:block; color:#529535; font-weight:900; font-size: 42px; line-height:40px; }
.welcome-header span { color:#444444; }
.welcome-message { display:block; color:#000; font-size: 18px; line-height:24px; padding-top:20px; }
.welcome-buttons { display:block; padding-top:24px;}
.welcome-buttons .create { display:inline-block; background-color: #529535; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700;}
.welcome-buttons .learn { margin-left:20px; display:inline-block; background-color: #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#000; font-size:18px; font-weight:700;}
.welcome-if { display:block; color:#000; font-size: 17px; line-height:24px; margin-top:20px; padding:10px 0; border-top:1px dashed #979797; border-bottom:1px dashed #979797; width:82%;}
.welcome-if a { color:#529535; font-weight:700;}
.splash-bold {font-weight: 600;}
#splash-scroll p { display:block; text-align:center; font-weight:700; font-size:16px; line-height:20px; color:#A8ABAC;}
img.center { margin-left:auto; margin-right:auto; display:block;}
#splash-every { display:block; text-align:center; font-weight:700; font-size:32px; color:#444; padding-top:60px;}
#splash-with { display:block; text-align:center; font-weight:300; font-size:18px; color:#4a4a4a; padding-top:10px;}

#splash-container-thirds { display:inline-block; padding:80px 0px 0 20px; }
#splash-container-thirds img { padding:10px 0 26px 6px; }
#splash-container-thirds .first { width:300px; display:inline-block; vertical-align: top; margin-right:30px; }
#splash-container-thirds .second { width:300px; display:inline-block; vertical-align: top; margin-right:30px;}
#splash-container-thirds .third { width:300px; display:inline-block; vertical-align: top;}
#splash-container-thirds h3 { font-size:22px; color:#4a4a4a; }
#splash-container-thirds span { font-size:18px; color:#4a4a4a; }

#splash-container-with { display:block; margin-top:40px; padding:40px; background-color: #DBF5FF; box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.05); }
#splash-container-with h3 { color:#4a4a4a; font-size:22px; font-weight:700; text-align:center; }
#splash-container-with ul.items { list-style-image: url('/img/bullet.svg'); padding:40px 0 0 240px; }
#splash-container-with li { padding-top:10px; font-size:17px;}

#splash-container-already { display:block; text-align:center; padding-top:100px;}
#splash-container-already h3 { font-size:28px; line-height:34px; color:#4a4a4a; }
#splash-container-already .already-buttons { display:block; padding-top:24px;}
#splash-container-already .already-buttons .create { display:inline-block; background-color: #529535; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700;}
.already-if { display:block; color:#000; font-size: 18px; line-height:24px; margin-top:20px; padding:10px 0;  border-top:1px dashed #979797; border-bottom:1px dashed #979797; width:420px; margin-left: auto; margin-right: auto;}
.already-if a { color:#529535; font-weight:700;}
#splash-scroll img {margin-left: auto; margin-right: auto;}

#splash-faq-header { font-size:32px; color:#4a4a4a; text-align:center; padding-bottom:50px; padding-top:100px; display:block;}
#splash-faq { padding-left:160px; }
#splash-faq .box-top-o { width:680px; height:62px; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 0 0 24px; border-top:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15); }
#splash-faq .box-top-c { width:680px; height:62px; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 0 0 24px; border:1px solid rgba(0,0,0,0.15); }
#splash-faq .box-btm { width:680px;  background-color:#fff; color:#474B55; font-weight:500; font-size:16px; padding:16px 24px; border-bottom:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15);}
#splash-faq .splash-left { width:600px; display:inline-block;}
#splash-faq .splash-left:hover { cursor:pointer; }
#splash-faq .splash-right { width:20px; font-weight:700; display:inline-block;}
#splash-faq .splash-right:hover { cursor:pointer; }
#splash-box-1-btm { display:none; }
#splash-box-2-btm { display:none; }
#splash-box-3-btm { display:none; }
#splash-box-4-btm { display:none; }
#splash-box-5-btm { display:none; }

#splash-support { display:inline-block; padding-top:50px; text-align:center; padding-left:220px;}
#splash-support .support-left {  display:inline-block;}
#splash-support .support-middle {  display:inline-block; vertical-align:top;}
#splash-support h3 {  font-size:28px; padding-bottom:40px;}
#splash-support a.create { display:inline-block; background-color: #529535; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700;}
#splash-support .support-right {  display:inline-block;}

.multi-lang-sec {color: #ffffff}
.multi-lang-sec a.lang-btn { font-weight:bold; color:#519535;}
.multi-lang-sec a:hover { opacity: 0.8; }
.multi-lang-sec {padding-top: 10px; padding-right: 25px}

@media only screen and (max-width: 768px) {
    .splash-wrapper { padding: 0 15px;  position: relative; margin: auto; min-height:100%; padding-bottom: 0px; }
    #splash-wrapper { padding-top: 48px; width: 100%; min-height: 100%; position: relative; background: #fafafa; }
    #splash-container { display:inline-block; min-height:100%; padding: 48px 0px 120px 0px; }
    #splash-container .splash-left { width: 100%; display:inline-block; vertical-align: top; padding-top: 0px;}
    #splash-container .splash-right { width: 100%; display:none; }

    .welcome-header { display:block; letter-spacing: -1.3px; color:#529535; font-weight:900; font-size: 28px; line-height:34px; text-align: center; height: 102px}
    .welcome-message { display:block; color:#000; font-size: 16px; line-height:24px; padding-top:20px; text-align: center; height: 66px}
    .welcome-buttons { display:block; padding-top:50px;}
    .welcome-buttons .create { display:inline-block; background-color: #529535; box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.16); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700; width: 100%; text-align: center; margin-bottom: 20px}
    .welcome-buttons .learn { margin-left: 0px; display:inline-block; background-color: #fff; box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.16); border-radius: 4px; padding:16px 19px; color:#000; font-size:18px; font-weight:700; width: 100%; text-align: center;}

    .welcome-if { display:block; color:#000; font-size: 18px; line-height:24px; margin-top:20px; padding:10px 0; border-top:1px dashed #979797; border-bottom:1px dashed #979797; width:100%; text-align: center;}
    .welcome-if a { color:#529535; font-weight:700;}

    /* #splash-scroll p { display:block; text-align:center; font-weight:700; font-size:16px; line-height:20px; color:#A8ABAC; width: 100%} */
    #splash-scroll p {display: none;}
    #splash-scroll img {display: block;}
    #splash-every { display:block; text-align:center; font-weight:700; font-size:26px; color:#444; padding-top:60px; line-height: 30px; width: 100%}
    #splash-with { display:block; text-align:center; font-weight:300; font-size:18px; color:#4a4a4a; padding-top:10px; line-height: 22px; width: 100%}

    #splash-container-thirds { display:inline-block; padding:80px 0px 0 0px; width: 100%}
    #splash-container-thirds img { margin-left: auto; margin-right: auto;}
    #splash-container-thirds .first { width: 100%; display:inline-block; vertical-align: top; margin-right: 0px; text-align: center; padding-bottom: 40px}
    #splash-container-thirds .second { width: 100%; display:inline-block; vertical-align: top; margin-right: 0px; text-align: center; padding-bottom: 40px}
    #splash-container-thirds .third { width: 100%; display:inline-block; vertical-align: top; text-align: center; padding-bottom: 40px}
    #splash-container-thirds h3 { font-size:22px; color:#4a4a4a; text-align: center;}
    #splash-container-thirds span { font-size:18px; color:#4a4a4a; text-align: center; width: 100%}

    #splash-container-with { display:block; margin-top:40px; background-color: #DBF5FF; box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.05); width: 100%;  padding: 40px; }
    #splash-container-with h3 { color:#4a4a4a; font-size:22px; font-weight:700; text-align:center; }
    #splash-container-with ul.items { list-style-image: url('/img/bullet.svg'); padding:40px 0 0 30px; }
    #splash-container-with li { padding-top:10px; font-size:17px;}

    #splash-container-already h3 { font-size:24px; line-height:30px; color:#4a4a4a; width: 100%}
    #splash-container-already .already-buttons .create { display:inline-block; background-color: #529535; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700; width: 288px; text-align: center;}
    .already-if { display:block; color:#000; font-size: 18px; line-height:24px; margin-top:20px; padding:10px 0;  border-top:1px dashed #979797; border-bottom:1px dashed #979797; width: 288px; margin-left: auto; margin-right: auto;}
    .already-if a { color:#529535; font-weight:700;}

    #splash-faq { padding-left: 0px; width: 100%}
    #splash-faq .splash-left { width: 85%; display:inline-block;}
    #splash-faq .box-top-o { width:100%; height:100%; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 0 0 24px; border-top:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15); }
    #splash-faq .box-top-c { width:100%; height:100%; background-color:#fff; color:#529535; font-weight:500; font-size:17px; padding:16px 13px 16px 16px; border:1px solid rgba(0,0,0,0.15); }
    #splash-faq .box-btm { width:100%;  background-color:#fff; color:#474B55; font-weight:500; font-size:16px; padding:16px 24px; border-bottom:1px solid rgba(0,0,0,0.15); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15);}

    #splash-support { display:inline-block; padding-top:50px; text-align:center; padding-left:0px; width: 100%}
    #splash-support .support-left {  display:inline-block; width: 23%; margin-top: 90px}
    #splash-support .support-middle {  display:inline-block; vertical-align:top; width: 51%}
    #splash-support h3 {  font-size: 23px; padding-bottom: 20px;}
    #splash-support a.create { display:inline-block; background-color: #529535; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09); border-radius: 4px; padding:16px 19px; color:#fff; font-size:18px; font-weight:700;}
    #splash-support .support-right {  display:inline-block; width: 23%; margin-top: 45px}

    .payment-bar .btn.btn-primary { float: none; }
	.payment-bar .block { text-align: center; }
	.payment-bar .btn { margin: 15px 0; }
	.payment-bar .balance { font-size:18px; }

	#footer-part { z-index:10; position:relative;}
	#footer-part p { float: none; border-bottom: 1px solid #71757a; margin: 0 -15px; padding:3px 0 10px; letter-spacing: 0; }
	#footer-part p span { display: none; }
	#footer-part { text-align: center; }
	#footer-part ul { width: 100%; display: block; float: none; margin: 0; padding: 10px 0 0; }
	#footer-part ul li { border:none; width: 100%; padding: 10px 0; }
	#footer-part ul li a { color: white; }
	#footer-part ul li a:hover { text-decoration:none;}

	.footer-left { float:none; text-align:left; padding-left: 10px}
	.footer-right { float:none; text-align:left; color:white;}
}
